{:company/legal-name "Amedisys, Inc."
 :company/lei "5299001RBS9GK9STN379"
 :company/jurisdiction "US-DE"
 :company/website "https://www.amedisys.com"
 :company/ticker "AMED (NASDAQ, pending Optum acquisition)"}
